body {
    margin: 0 !important;
    background: url('assets/back1.png') !important;
}

canvas {
    margin-top: 30px;
    position: fixed;
    left: 50% !important;
    top: 50% !important;
    z-index: -1;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4)
}

.game_field {
    height: 600px;
    width: 100%;
    max-width: 800px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 49%;
    transform: translate(-50%, -50%);
    z-index: -1;
    color: #fff;
}

.game_field_wrap {
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.game_field_wrap>div {
    padding: 0 20px;
}

.main_menu {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
}

.level_menu {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
}

.level_menu>div {
    width: 95%;
}

.levels_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.level_block {
    width: 32%;
    height: 200px;
    background-color: rgb(228, 247, 192);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}